{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'todos/style.css' %}">
</head>
<body>
    <h1>Todo List</h1>
    <a href="{% url 'todo_create' %}">Add Todo</a>
    <ul>
        {% for todo in todos %}
            <li>
                <a href="{% url 'todo_detail' todo.id %}">{{ todo.title }}</a>
                <form action="{% url 'todo_delete' todo.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
